<div class="header">登录</div>
<div class="content">
  <form {{bind-attr class=":ui hasError:error :form"}} {{action "authenticate" on="submit"}}>
    {{#if hasError}}
      <div class="ui error message">
        <div class="header">登录失败</div>
        <p>用户名或密码错误，请重试</p>
      </div>
    {{/if}}
    <div class="field">
      <label for="identification">用户名</label>
      {{input type='text' value=identification}}
    </div>
    <div class="field">
      <label for="password">密码</label>
      {{input type='password' value=password}}
    </div>
    <div class="field">
      {{input type='submit' class='ui submit primary button' value='登录'}}
    </div>
  </form>
</div>
