<div class="ui page grid">
  <nav class="ui text menu navbar column">
    <div class="left menu">
      <a class="item">Deyeen</a>
    </div>
    <div class="right menu">
      {{#if session.isAuthenticated}}
        <div class="item">{{session.currentUser.username}}</div>
        <a {{ action 'invalidateSession' }} class="item">登出</a>
      {{else}}
        <a href="" class="item" {{action 'signin'}}>登录</a>
        <a href="" class="item" {{action 'signup'}}>注册</a>
      {{/if}}

    </div>
  </nav>
</div>
